venv311/
data/
fraud_alerts.db
__pycache__/
*.pyc
.DS_Store
checkpoints/
fraud_output/
*.log
.env
models/
kafka_2.13-3.8.1/
kafka_2.13-3.8.1.tgz
*.tar.gz
.ivy2/
*.jar
anaconda_projects/
.ipynb_checkpoints/
